fLight = 100
fRegular = 300
fBold = 600 
fBlack = 800

cGrayL = #a0a0a0
cGrayD = #2d2d2d
cWhite = #ffffff
cBlack = #101010
cCyan = #19bfbb
cCyanDark = #0f3e39
cCoffee = #e0ab6c

fBebas = "BebasNeue"
fPro = "GothamPro"

@font-face
 	font-family: fBebas
 	font-weight: fBold
 	font-style: normal
 	src: url('../fonts/BebasNeueBold.ttf')

@font-face
 	font-family: fBebas
 	font-weight: fRegular
 	font-style: normal
 	src: url('../fonts/BebasNeueBook.ttf')

@font-face
 	font-family: fBebas
 	font-weight: fLight
 	font-style: normal
 	src: url('../fonts/BebasNeueLight.ttf')

@font-face
 	font-family: fPro
 	font-weight: fRegular
 	font-style: normal
 	src: url('../fonts/GothamPro.ttf')

@font-face
 	font-family: fPro
 	font-weight: fBold
 	font-style: normal
 	src: url('../fonts/GothamProBold.ttf')

@font-face
 	font-family: fPro
 	font-weight: fBlack
 	font-style: normal
 	src: url('../fonts/GothamProBlack.ttf')

body
html
	font-family fPro
	font-weight fRegular
	c cBlack