.article
	&_title
		ffa fBebas
		fw fBold
		txtt uppercase
		fz: 40px
		ls: 20
		lh: 49px
		c cBlack

		&--white
			c cWhite

		&--accent
			c cCoffee
		
		&--gray-l
			c cGrayL

		&--gray-d
			c cGrayD

		&--hero
			fz 160px
			lh 100px
			ls 0
			ml -6px
			c cCyan

		&--regular
			txtt: none
			ffa: fPro
			ls: 0
			lh: 48px
			fz: 40px

	&_comment

		&--hand-write
			c rgba(cCyan, 0.65)
			ffa: "Segoe Print"
			fz: 14px
			ls: 60
			lh: 24px
			transform: rotate(-18deg)
			transform-origin: bottom left
			fw: 600
	
	&_text
		fz: 17px
		lh: 36px
		ls: 20
		c cGrayD
	
		&--white
			c cGrayL

	&_line
		size: 70px 1px
		background: cGrayD