.article--hero
	.article

		&_title

			&--hero
				mb: 65px
		
		&_row
			display flex
		
			&--text
			&--cta
				max-width: 50%
			
			&--text
				mb: 101px

			&--cta
				ml: 2px

		&_comment--hand-write
			ml: auto
			position: relative
			top: 58px
			left: 36px

			.icon
				position: absolute
				top: 32%
				right: 2%
				transform: rotate(18deg)
		
		&_play-with-cap
			ml: 92px
			c cGrayL
			txtt: uppercase
			fz: 16px
			ls: 0
			lh: 24px
			fw fRegular
			txta: left
			position: relative
			span
				c cCyan
				fw fBold

			iconA("ic-arc.png")
			&:after
				top: -4px
				right: calc(-100% - 22px)
