.article--comment
	background: cWhite
	padding: 25px 90px 25px 42px
	box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.1)
	position relative
	&:before
		content: ''
		icon("ic-wing-cyan.png")
		position: absolute
		top: 0
		bottom: 0
		right: 0
		margin: auto
	.article
		&_title
		&_text
			text-transform: none
			fz: 18px
			c cGrayD
			lh: 30px
			ls: 0
			ffa: fPro