.cup-design
	&_title
		fz: 70px
		ls: 0
		lh: 70px
		c cBlack
		ffa fBebas
		fw fBold
		mb: 60px
	&_article
		mb: 10px
	&_button
		min-width: 260px
		mt: 40px
	
	.colors_color
		opacity: 0
		transition: 0.4s ease opacity
		
		&.js-visible
			opacity: 1