.form
	&--black
		position relative
		background: cBlack
		border-radius: 4px
		pt: 55px
		pl: 100px
		pb: 114px
	
	&_button
		min-width: 320px
		mt: 42px
	
	&_field
		position relative
		max-width 320px
		
		.label-checked
			margin-top 40px

.field
	mb: 7px

	&_label
	&_input
		display: block
		min-width: 320px
	
	&_label
		fz: 13px
		ls: 100
		lh: 70px
		c rgba(cWhite, 0.5)
	
	&_input
		fz: 22px
		lh: 46px
		ls: 0
		c cWhite
		background: none
		bb: 1px solid rgba(cWhite, 0.2)
