.icon
	display: inline-block

	&--coffee-cup
		icon("ic-coffee-cup.png")
	
	&--lamp
		icon("ic-lamp.png")

	&--people
		icon("ic-people.png")
	
	&--graph
		icon("ic-graph.png")
	
	&--doc
		icon("ic-doc.png")
	
	&--enigma
		icon("ic-enigma.png")
	
	&--student
		icon("ic-student.png")

	&--shop
		icon("ic-shop.png")
	
	&--phone
		icon("ic-phone.png")
	
	&--case
		icon("ic-case.png")
	
	&--discount
		icon("ic-discount.png")

	&--like
		icon("ic-like.png")
		vertical-align: middle
		mr: 10px
	
	&--camera
		icon("ic-camera.png")
	
	&--rupor
		icon("ic-rupor.png")
	
	&--world
		icon("ic-world.png")
	
	&--skype
		icon("ic-skype.png")
	
	&--pointer
		icon("ic-pointer.png")
		
	&--location
		icon("ic-location.png")
	
	&--email
		icon("ic-mail.png")

	&--phone-footer
			icon("ic-phone-footer.png")
