.list--about-plan
	padding: 44px 0 24px 68px
	display: flex
	flex-direction: column
	min-height: inherit
	box-sizing: border-box
	.list
		&_item
			display: flex
			flex 1
		
		&_num
			c cCyan
			fz 30px
			ls 0
			ffa fBebas
			fw fBold
		
		&_line
			size: 20px 1px
			background: cGrayL
			ml: 30px
			mt: 19px
		
		&_text
			fz 15px
			lh 30px
			ls 0
			c cGrayL
			ml: 35px
			max-width 58%
			span
				c cWhite
				fw fBold
		