@media (max-width: 1860px)
	.header_row,
	.section--create-cup .header_column
		padding-right 30px
	.form_map
		width 850px
		height 850px
		right -210px
		
@media (max-width: 1670px)
	.section_hand
		right auto
		left 50%
	.section--hero
		overflow hidden
@media (max-width: 1580px)
	.section--download-plan .section_img
		margin-left -320px
	.form_map
		width 800px
		height 800px
		right -170px
	.section--hero
		min-height 880px
	.tabs--about-plan
		.tabs_decor-3
			max-width 740px
		.tabs_decor-2
			max-width 740px
		.tabs_decor-1
			max-width 1200px
	.section--training .background-left,
	.section--about-plan .about-left-bg,
	.section--about .bg-about-right,
	.section--about .bg-about-left,
	.section--garant .bg-about-right-revers,
	.section--instaramm .bg-coffee-instagramm
		opacity: .4
	.section--full-control .bg-full-control
		opacity: .1
	.shop-design_img
		width 100%
	.section--training .background-right
		top -470px
		width 560px
	
@media (max-width: 1500px)
	.tabs--about-plan .tabs_decor-2
		max-width 690px
	.form_map
		background-size cover
	.section--about .section_row:nth-child(even) .section_img
		margin-right -10%
	.header_phone
		margin-right 60px
	.section_title--wing
		font-size 6.5rem
		line-height 6.5rem
	.section
		&_description
			fz: 36px
			lh: 45px
		&_title
			c cCyan
			fz: 70px
			lh: 85px
	.tabs--about-plan
		.tabs_decor-2
			max-width 670px
	.section--training .section_content
		margin-bottom 0
	.section--business-model .background-right
		top -60px

@media (max-width: 1440px)
	.section--create-cup .section_row-title .back-item
		right -100px
	.section--business-model
		overflow-x hidden

@media screen and (max-width: 1440px), (max-height: 850px)
	.section--hero .section_hand-main
		min-width 730px
		background-size: 100%
	.section--hero
		min-height 100%
		height 100vh
	.section_article.article.article--hero
		display: flex
		flex-direction: column
		justify-content: center
		height: calc(100vh - 200px)
	.section--hero .section_content
		padding-top 200px

@media screen and (max-height: 720px)
	.article--hero .article_title--hero
		margin-bottom: 50px
		font-size: 8rem
		line-height: 5.25rem
	.article_title
		font-size 2.4rem
		line-height 2.8rem
	.article--hero .article_row--text
		margin-bottom 50px
	.section_hand
		left auto
	.section--hero .section_hand-main
		width: 100%
		min-width: 620px
		height: 100%
		min-height: 545px
		background-size: 100%

@media screen and (max-height: 650px)
	.article--hero .article_title--hero,
	.article--hero .article_row--text
		margin-bottom 30px
	.section_article.article.article--hero
		min-height 400px

@media screen and (max-height: 610px)
	.section--hero .section_hand-main
		min-width 590px
	.section_hand
		left 52%

@media (max-width: 1400px)
	.tabs--about-plan
		.tabs_decor-2
			max-width 640px
		.tabs_decor-1
			max-width 1150px
	.header_column
		min-width 90px

@media (max-width: 1366px)
	.section--instaramm
		z-index 8
	.header_wrapper--logo .header_about
		margin-left 150px
	.section--about
		z-index 5
	.logo_logo
		margin-bottom 24px
	.section--create-cup .section_row-title
		width 90%
	.section--experience .bg-experience-right
		display none
	.header_phone
		margin-right 40px
	.section--training .background-left,
	.section--about-plan .about-left-bg,
	.section--about .bg-about-right,
	.section--about .bg-about-left,
	.section--garant .bg-about-right-revers,
	.section--instaramm .bg-coffee-instagramm
		opacity: .2
	.section--design
		padding-top 150px
		padding-bottom 0
	.section--promotion
		overflow-x hidden
		.promotion-bg__one
			top -125px
		.promotion-bg__right,
		.promotion-bg__left
			display none
	.section--rules
		.bg-coffee-rules__one
			display none
	.section--download-plan .bg-download-plan
		left 0
	.section--full-control .section_content--full
		.section_img
			margin-left -200px
	.tabs--about-plan
		.tabs_decor-2
			max-width 600px
	.header_column
		z-index 20
	.section--about
		overflow-x hidden

@media (max-width: 1300px)
	.section--hero .section_bg
		.section_bg-radius
			left 52%
		.section_bg-main
			width 55%
	.section--download-plan .section_img
		margin-left -440px
	.section--training .background-right
		top -420px
		width 530px
	.section--faq
		.faq-background__two
			display none
	.section--help .help-background__right
		opacity: .05
	.garant_img
		margin 0 0 0 12%
	.garant_cloud
		left 38%
	.tabs--about-plan
		.tabs_decor-1
			max-width 1100px
		.tabs_decor-2
			max-width 580px

@media (max-width: 1280px)
	.header_column
		display none
		min-width 60px

@media (max-width: 1200px)
	.section_hand
		left 52% !important
	.section--team .bg-team
		min-height 100%
	.slider--cups
		.slider
			&_slide
				width 33vw
	.garant_img
		margin: 0 0 0 5%
	.section--download-plan .bg-download-plan
		display none
	.section--full-control .section_content--full .section_img
		margin-left -250px
	.section--download-plan .section_img
		margin-left -530px
	.tabs--about-plan
		.tabs_decor-3
			max-width 710px
		.tabs_decor-2
			max-width 540px
	.section--about-plan
		overflow-x hidden
	.section--instaramm .section_content
		overflow hidden
	.rule_num--rub
		fz: 100px
		lh 83px

@media (max-width: 1180px)
	.section--team
		min-height 840px

@media (max-width: 1140px)
	.tabs--about-plan .tabs_img
		width auto
	.bg-coffee-instagramm
		display none !important
	.section--full-control .section_content--full .section_img
		margin-left -300px
	.section_content,
	.footer
		padding-left 20px
		padding-right 20px
	.section--download-plan .section_img
		display none
	.section--about-plan
		margin-top 0
	.section--download-plan
		padding-top 100px
		padding-bottom 100px
	.section--download-plan .section_row .section_article
		margin 0 auto
	.shop-design_article
		padding-left 50px
	.section--design
		padding-top 70px

@media (max-width: 1024px)
	.content--full
		padding-right 0
	.section--create-cup .section_row-title .back-icon
		width 40px
	.cup-design_back-item
		svg
			width 40px
			height 40px
	.cup-design_title
		font-size 3rem
		line-height 3.4rem
	.section--create-own-cup
		.section_bg:after
			right 38%
		.section_cup
			width 55%
	.section--create-cup .section_row-title
		width 85%
	.section--create-own-cup .section_design
		width 45%
	.slick-slide img,
	.cup_body
		width 60%
	.section--create-cup .section_row-title
		margin-top 20%
	.cup
		height 350px
	.slick-slide img.cup_head,
	.cup_head
		top 24px
		width 65%
	.section--create-own-cup
		min-height 800px
		.section_design
			padding-left 70px
	.section--full-control .section_content--full .section_img
		height 650px
	.section--full-control .board-full-control
		width 360px
	.section--download-plan .section_row .section_article
		margin-right 0 !important
	.shop-design_row
		//flex-direction column
	.shop-design_img-wrapper
		padding-left 0
		width 50%
	.shop-design_article
		width 50%
	.section--design
		padding-bottom 50px
	.section--training .background-right
		max-width 410px
	.footer .item-description
		min-width 300px
	.footer .wrapper--item-list .wrapper-list .foot-list
		min-width 250px
	.garant_img
		margin 0 0 0 0%
	.header_wrapper--logo .header_about
		margin-left 60px
	.section_title
		font-size 4rem
	.section--hero .section_bg .section_bg-main
		width 50%
	.section--hero .section_bg .section_bg-radius
		left 46%
	.button--cta
		font-size 20px
	.article_title--hero
		font-size 8rem
		line-height: 5rem
	.article--hero .article_play-with-cap:after
		display none
	.section--help
		overflow hidden
	.form--black
		padding-left 30px
		.form_map
			width: 750px;
			height: 750px;
			right: -190px;
	.contact--phone .contact_icon
		margin-right 20px
	.section_img-wrapper,
	.section--promotion .section_row:nth-child(odd) .section_img-wrapper
		width 50%
		img
			width 90%
	.section--promotion .section_row:nth-child(even) .section_img-wrapper
		img
			width 100%
	.section--about
		.section_row
			.article--about
				width 35%
			.section_img
				width 65%
		
@media (max-width: 992px)
	.section--team
		min-height 780px
	.contact--phone .contact_text
		font-size 1rem
	.contact--phone .contact_label
		font-size: .7rem
	.section_description
		font-size 2rem
	.article--hero .article_play-with-cap
		display none
	.header_wrapper--logo .header_about
		margin-left 50px
	.rule_num--rub
		font-size 5.5rem
	.section--experience
		.icon-text--horizontal
			flex-basis calc(50% - 70px)
	.section--garant .section_garant
		.garant_img
			transform scale(1) !important
			width 200px
			height 200px
			border 10px solid rgba(224, 171, 108, 0.5)
		.garant_cloud
			padding 15px
			max-width 260px
			white-space inherit
			left 37% !important
			top 50%
			transform translate(0, -50%)
			br
				display none
	.cup-design_title
		font-size 3rem

@media (max-width: 920px)
	.rule_num--rub span:before
		transform scale(.75)
		top 8px
	.footer .footer_row
		justify-content space-between
	.footer_item.item-work
		display none
	.tabs--about-plan .tabs_tab.js-active
		font-size 1.8rem
	.section--about
		padding-top 75px
	.section--hero .section_content
		padding-top 180px
	.logo_text
		display none
	.header_wrapper--logo .header_about
		margin-left 20px
	.article_title--regular
		font-size 2rem
	.form--black .form_map
		right -280px
	.section--training .background-right
		max-width 350px
	.section_title
		font-size 4rem
	.slider--iphone
		right 30px
	.section--full-control .section_content--full .section_img
		height 580px
	.section--full-control .board-full-control
		width 300px
	.section--garant .section_garant
		width 100%
		.garant_img
			width 300px
			height 300px
			border 16px solid #fff
	.rule_num--rub
		font-size 4.5rem
	.section--about-plan .about-plan-bg
		opacity: .5
	.tabs--about-plan
		.tabs_decor-1
			max-width 900px

@media (max-width: 900px)
	.section--create-own-cup .section_design
		padding-left 50px
	.section--create-cup,
	.section--create-own-cup
		width 100%
		height 100%
		overflow scroll
	.section--create-own-cup .section_row
		overflow scroll
	.section--about .section_title
		margin-bottom 100px
	.section--experience
		margin-top -160px
	.article--about .article_text
		margin-bottom 50px
	.header_phone
		margin-right 20px
	.header_logo
		width 150px
	.section--design .bg-design-coffee
		opacity: .1
	.background-left
		display none
	.section--help
		padding-bottom 100px
	.form--black .form_map
		right 30px
		max-width 400px
		width 100%
		height 90%
		border-radius 0
		border 0
		// position relative
		// right auto
		// transform: translate(0, 0);
	.section--about .bg-about-right
		display none

@media (max-width: 854px)
	.section--team .section_stamp
		width 200px
	.section--team
		min-height 670px
	.cup-design_back-item
		right 10px
	.section--create-own-cup .section_bg:after
		display none
	.section--create-cup .section_row-title
		margin-top 200px
	.section--faq
		padding-top 90px
	.section_description
		font-size 1.5rem
	.list--contacts
		flex-direction column
		align-items flex-start
		.contact--phone
			margin-bottom 20px
	.list--faq .list_question
		font-size 1rem
	.section_title
		font-size 3.4rem
		line-height 4rem
	.article--promotion .article_title--regular
		font-size 2rem
	.section--download-plan .section_stamp
		left -220px
	.header_row, .section--create-cup .header_column
		padding-right 20px
	.section--hero .section_hand-main
		height 660px
		background-size 80%
	.slider--iphone
		right 50px
	.rule_num
		font-size 4.5rem
		line-height: 5.1875rem
	.rule_num--rub span:before
		transform scale(.75)
	.section--rules .bg-top-rules
		opacity: .15
	.tabs--about-plan
		.tabs_decor-3
			max-width 560px
		.tabs_decor-1
			max-width 840px
			top -45px
		.tabs_decor-2
			top 10%
			left 75%
	.tabs--about-plan .tabs_tab.js-active
		font-size: 1.5rem
		line-height 2rem
	.section--about-plan
		padding-bottom 400px
	.tabs--design .tabs_tab
		font-size 1rem
		line-height: 3.5rem
	.section--faq .section_title
		margin-bottom 50px
	.section--help .section_description
		margin-bottom 70px
	.section--help
		padding-bottom 0
	.section--help .help-background__right
		display none
	.section--promotion
		padding-top 40px
	.section--design .bg-design-coffee
		opacity: .05
	.tabs--design
		margin-top 70px
	.section--garant .section_garant .garant_cloud
		left 30% !important
	.section--experience
		padding-top 160px
	.section--footer
		padding-bottom 20px

@media (max-width: 840px)
	.section--help
		padding-top 60px
	.section--hero .section_bg .section_bg-radius
		display none
	.section--hero .section_bg .section_bg-main
		width 100%
	.text--phone
		color: #a0a0a0
	.button--call
		color: #a0a0a0
	.icon-text--white
		font-size .8rem
		line-height 1.4rem
	.article_title--white
		font-size 2rem
	.header_logo
		width 130px
	.section--experience .icon-text--horizontal
		margin-bottom 60px

@media (max-width: 830px)
	.article--hero .article_row--text
		max-width 56%
	.section--rules .section_rule
		margin-left 10%
	.footer_item.wrapper.wrapper--item-list
		margin-bottom 40px
	.footer .footer_row
		flex-direction column-reverse
	.footer_item.item-work
		display block
		margin-bottom 40px
	.footer .item-description .description-footer
		margin-bottom 30px
	.footer
		padding-bottom 50px
	.article--help
		padding 30px
	.form--black
		display flex
		flex-direction column
		align-items center
		padding-left 20px
		padding-right 20px
		padding-bottom 50px
		.form_wrapper-form
			margin-bottom 50px
		.form_map
			position relative
			right auto
			height 400px
			width 100%
			max-width 100%
			transform translate(0, 0)
	.section--training .section_list
		margin-left 0

@media (max-width: 780px)
	.slider--iphone
		right 90px
	.article--promotion .article_title--regular
		font-size 1.8rem
	.section--rules .section_row
		flex-direction column
	.section--rules .section_rule
		margin-left 0
		margin-bottom 40px
	.section--download-plan .section_stamp
		left -180px
	.section_title
		font-size 3rem

@media (max-width: 768px)
	.section--team
		min-height 640px
	.header_contacts
		display flex
		flex-direction column
		.header_phone
			margin-right 0
			margin-bottom 10px
	.section--full-control .board-full-control
		background-size 100%
	.slider_slide-items
		width 240px
		margin 0 auto
	.slider--instaramm .slider_slider
		margin-left -130px
	.slider-buttons--circle
		position relative
		z-index 10
	.section--full-control .bg-full-control
		opacity: .05
	.article_title--regular
		font-size: 1.8rem
		line-height: 2.5rem
	.section--download-plan .section_num
		margin-left 40px
		font-size 10rem
	.section--download-plan .section_stamp
		left -200px
	.section--hero .section_hand
		//top 40%
	.section--hero .section_hand-main
		height 450px
		min-height 100%
		min-width 606px
		background-size 72%
		background-position center 0
		background-repeat no-repeat
	.article--hero .article_row--text
		max-width 60%
	.section--experience .section_title
		margin-bottom 80px
	.section--garant
		padding-top 80px
	.shop-design_row
		align-items center
	.section--promotion .section_list .section_row
		margin-top 80px
	.section--training .background-right
		max-width: 350px
		height: 440px
		background-size: 100%
		top: -265px
	.section_description
		font-size 1.4rem
		line-height 2rem

@media (max-width: 720px)
	.section--hero .section_hand-main
		min-width 500px !important
	.section_hand
		left 58% !important
		top 35% !important
	.section--create-own-cup.js-active
		.header_row
			width 90%
	.cup-design_back-item
		top 35px
		right 20px
	.cup-design_back-item svg
		width 30px
	.section--create-own-cup.js-active
		.header_wrapper--logo .header_about
			display none
	.section--create-own-cup .section_design
		padding-top 90px
	.section--full-control .section_content--full .section_img
		height 490px
	.section--full-control .section_header
		margin-top 10px
	.section_title
		font-size 2.8rem
	.section--experience
		padding-top 120px
	.section--about-plan
		padding-top 100px
	.section--team .section_stamp
		margin-left 20px
		margin-top 20px
	.section--design
		.shop-design_row
			flex-direction column
	.shop-design_img-wrapper
		width 60%
	.shop-design_article
		padding-left 0
	.section--promotion .section_row:nth-child(even) .section_img-wrapper
		right 0

@media (max-width: 700px)
	.section_description--comment
		padding-left 60px
	.section--team .section_stamp
		margin-left auto
	.section_description--comment:before
		width 40px
	.section--team
		min-height 580px
	.section--help .section_row
		flex-direction column
		align-items center
	.shop-design_article
		width 60%
	.section--faq .section_faq
		max-width 96%
	.tabs--about-plan
		max-width 100%
	.section--full-control .board-full-control
		bottom -410px
	.section--full-control .section_row
		flex-direction column
	.icon-text--white
		margin-bottom 30px
	.section--experience .bg-experience-left
		opacity: .1
	.article--hero .article_row--text
		max-width 70%
	.section--about .section_row
		flex-direction column
	.section--about .section_row .article--about
		width 90%
		margin-bottom 40px
	.section--about .section_row .section_img
		width 80%
	.article--about .article_text
		margin-bottom 30px
	.item-reverse
		flex-direction column-reverse !important
	.section--about .section_row
		margin-bottom 60px
	.section_title
		font-size: 2.4rem
		line-height: 3rem

@media (max-width: 640px)
	.section--hero .section_content
		padding-top 160px
	.section--hero .section_hand-main
		min-width 420px !important
	.section_hand
		left: 63% !important
		top: 40% !important
	.article--hero .article_comment--hand-write
		top: 30px
		left: 15px
	.article--hero .article_title--hero
		font-size 6rem
	.article_title
		font-size: 2rem
		line-height: 2.4rem
	.section--create-cup
		.content--sliders
			padding 0
			height calc(100vh - 203px)
			display flex
			flex-direction column
			justify-content center
	#popup-info
		padding: 40px 30px 30px
	.icon-text--horizontal .icon-text_icon
		top 50%
		transform translate(0, -50%)
	.section--create-own-cup .section_cup
		padding-top 100px
	.section--create-own-cup .section_design
		padding-left 20px
	.slider--cups .slider_cup
		width 100%
		height 280px
	.cup_head, .slick-slide img.cup_head
		top 30px
	.tabs--design
		float none
	.section--full-control .section_content--full .section_img
		left -335px
	.section--experience .section_row
		flex-direction column
	.article--promotion .article_text
		margin-bottom 30px
	.article--promotion .article_title--regular
		font-size 1.5rem
		line-height 1.9rem
	.article--promotion .article_text
		font-size .75rem
	.list--training .list_num
		margin-right 20px
	.section--training .section_row
		flex-direction column-reverse
	.section--training .section_slider
		margin-top 60px
		width 100%
	.section--training .section_list,
	.list--training .list_button
		margin-top 40px

@media (max-width: 639px)
	.section--instaramm .section_row
		width 100%
	.slider--iphone
		display none
	.slider--instaramm .slider_slider
		margin-left 0
	.slider-buttons--circle
		padding-right 0
	.section--rules .section_title
		margin-bottom 70px
	.section--download-plan .section_stamp
		display none
	.section--team .section_stamp
		width 160px
	.section--promotion .section_row
		flex-direction column
	.section--promotion .section_row:nth-child(odd) .section_img-wrapper, .section_img-wrapper
		width 90%
		margin-left 0
		text-align center
	.section--promotion .section_list .section_row:nth-child(1) .section_article
		margin-top 50px
	.section--promotion .section_row:nth-child(even) .section_img-wrapper
		margin-right 0
	.section--promotion .section_list .section_row .section_article
		width 80%
	.article--promotion .article_text
		font-size .9rem
	.promotion-reverse
		flex-direction column-reverse !important
	.section--faq .faq-background__one
		opacity: .15
	.section--promotion .section_list .section_row:nth-child(2) .section_article
		margin-top 50px
	.slider--training .slider_img
		border-radius: 5px
		max-height: 400px
		margin: 0 auto
	.section--training .section_content
		h2,
		h3
			text-align center
	.shop-design_img-wrapper
		width 80%
	.section--about-plan
		padding-bottom 360px
	.section--design .section_title
		margin-bottom 20px
	.section--design .content
		text-align center
	.tabs--design .tabs_tabs
		justify-content space-around
	.section--about-plan .section_title-row
		flex-direction column
		h2
			margin-bottom 30px
	.section--about-plan .section_comment
		margin-left 0

@media (max-width: 600px) and (max-height: 520px)
	.section_article.article.article--hero,
	.section--create-own-cup,
	.section--hero .section_content
		height 100% !important

@media (max-width: 600px)
	.content--full
		padding-left 0
	.section--create-own-cup .section_design
		width 48%
		padding-top 38px
	.section--create-own-cup .section_cup
		width 52%
	.cup-design_title
		margin-bottom 30px
	.colors_color
		margin-bottom 15px
		margin-right 15px
	.cup-design_title
		font-size 2rem
		line-height 2.4rem
	.section--create-cup,
	.section--create-own-cup
		overflow inherit
		height 100vh
	.section--create-own-cup .section_row
		height 100%
	#popup-info
		max-width 80%
	.main-form.popup-text .main-form__text
		padding-right 20px !important
	.section--download-plan .section_row .section_article
		margin 0 0 !important
	.section_description
		//line-height 1
	.section--team
		min-height 480px
	.section--create-cup.js-active .header_about,
	.section--create-cup.js-active .header_button
		display none
	.section--create-cup .section_row-title .back-item
		right -80px
	.section--create-cup .section_row-title
		margin-top 120px
	.section--business-model .section_description
		margin-top 30px
	.section--garant .section_garant .garant_cloud
		left 45% !important
	.section--hero .section_hand-main
		display none
	.section--hero
		min-height 100vh
		padding-bottom 0px
	.section--hero .section_content
		padding-top 150px
		height calc(100vh - 50px)
		display flex
		flex-direction column
		justify-content center
	.article--hero .article_title--hero,
	.article--hero .article_row--text
		margin-bottom 0
	.section_article.article.article--hero
		height calc(100vh - 190px)
		min-height 350px
		display: flex
		flex-direction: column
		justify-content: space-around
		padding-bottom 40px
	.article--hero .article_row--text
		width 100%
		max-width 100%
	.section--about-plan .about-plan-bg
		opacity: .8
	.section--about-plan
		.section_title
			text-align center
			font-size: 3.4rem
			line-height: 4rem
		.section_description
			text-align center
			font-size 1.8rem
	.list--about-plan
		padding-left 35px
	.section--team .section_row
		margin-bottom 0
	.shop-design_article
		width 80%

@media (max-width: 540px)
	.slick-slide img.cup_head
		top 36px
	.tabs--about-plan .tabs_tab
		font-size .8rem
		line-height 1.4rem
	.tabs--about-plan .tabs_tab.js-active
		font-size 1.2rem
		line-height 1.4rem
	.section--team .section_stamp
		display none
	.section--create-cup.js-active
		.logo_logo
			margin-top 0
	.section--create-cup .section_row-title .back-icon
		width 30px
	.slider-buttons--circle-white
		.slider-buttons_prev,
		.slider-buttons_next
			width 35px
			height 35px
	.section--create-cup .section_row-title
		align-items center
	.cup-design_title
		font-size 2rem
	.colors_colors
		justify-content center
		margin 0 auto
	.tabs--about-plan .tabs_tab
		padding-bottom 15px
		font-size 1.2rem
		.js-active
			font-size: 1.4rem
			line-height: 1.9rem
	.section--full-control .section_content--full
		flex-direction column
	.section--full-control .section_header
		margin-left 0
		margin-bottom 40px
	.section_title--wing
		&:before
			left -180px
		&:after
			right -180px
	.article--hero .article_row--cta
		max-width 100%
	.header_wrapper--logo .header_about
		display none
	.logo_logo
		margin-top 25px
	.rule_num
		font-size 3.5rem
	.rule_num--rub span:before
		transform: scale(.7);
		top 2px
	.list--faq .list_question
		padding-right 70px

@media (max-width: 520px)
	#popup-info
		max-height 100%
		max-width 100%
		padding-right 10px
	.main-form,
	.porsone-information
		max-width 414px
		box-sizing border-box
	.porsone-information
		height 100%
	.section--create-cup .section_row-title
		flex-direction column
		align-items flex-start
	.slider-buttons--circle-white .slider-buttons_next, .slider-buttons--circle-white .slider-buttons_prev
		margin-left 0
		margin-right 15px
	.slider--cups .slider_slide
		width 50vw
	.section--faq
		overflow hidden
	.footer .wrapper--item-list .wrapper-list
		flex-direction column
	.section--help .section_row
		overflow hidden
	.footer .wrapper--item-list .wrapper-list .foot-list
		margin-bottom 20px
		&:last-child
			margin-bottom 0
	.section--rules .section_rule
		.rule_row
			flex-direction column
			
@media (max-width: 480px)
	.colors_title
		font-size .8rem
		margin-bottom 14px
	.section--create-own-cup .section_cup
		padding-top 130px
	.section--create-cup
		.section_slider
			margin-top 0
		.section_row-title .back-item
			right -60px
			top 30%
	.section--about-plan .section_title
		font-size 2.4rem
		line-height 3.2rem
		text-shadow 0 0 10px rgba(51, 51, 51, 0.8)
	.section--team
		min-height 410px
	.list--faq .list_answer
		padding-left 0px
		&:before
			display none
	.section--business-model .section_description,
	.list--training .list_text
		br
			display none
	.list--training .list_item
		flex-direction column
	.rule_row .rule_rule:not(:first-child)
		margin-left 0
	.rule_row .rule_rule:not(:first-child):before
		display none
	.tabs--design .tabs_tab
		font-size: .8rem
		line-height: 2.5rem
	.section--download-plan .section_text
		font-size 1em
		line-height 1.5rem
	.section--download-plan .section_num
		font-size 8rem
		span
			font-size 8rem
	.article_title--hero
		font-size 6rem
	.article--about .article_text
		br
			display none
	.section--full-control .board-full-control
		width 240px
	.section--rules .section_row
		margin-top 0
	.tabs--about-plan .tabs_tab
		color #585858
		font-size 14px
		line-height 20px
	.tabs--about-plan .tabs_tab.js-active
		font-size 14px
		line-height 20px
	.tabs--about-plan .tabs_tab-content
		position relative
	.list--about-plan .list_num
		font-size 1.4rem
	.list--about-plan .list_line
		margin-left 18px
		margin-top 15px
	.list--about-plan .list_text
		margin-left 18px
	.tabs--about-plan
		.tabs_tab-content
			overflow hidden
		.tabs_decor-1,
		.tabs_decor-2,
		.tabs_decor-3
			display none
	.list--about-plan
		padding-left 20px
	.list--about-plan .list_text
		max-width 70%
		margin-left 25px
	.section--training .background-right
		max-width 300px
		height 360px
	.article--promotion .article_text
		br
			display none
	.section--garant .section_garant
		flex-direction column
		.garant_cloud
			left: 0%!important
			position: inherit
			transform: translate(0,0)
			top 0
			br
				display none
	.section--garant .section_garant
		margin-top 50px
		.garant_img
			transform scale(.75)!important
	.garant_cloud:after
		display none
	.slider--training .slider_slide
		min-width 400px
	.main-form
		max-width 340px
		padding 25px
	.section_description br,
	.section--about-plan .about-left-bg
		display none
	.tabs--about-plan .tabs_download
		margin-left 20px

@media (max-width: 430px)
	.slider--cups .slider_cup
		height 250px
	.colors_color
		width 18px
		height 18px
	.colors_color:before
		width 30px
		height 30px
	.footer, .section_content
		padding-left 15px
		padding-right 15px
	.article--promotion .article_title--regular
		br
			display none
	.tabs--design .tabs_tabs
		flex-direction column
		.tabs_tab
			margin-left 0
			margin-top 20px
	.shop-design_article
		width 100%
	.article_title--white
		font-size: 1.5rem
		line-height: 2.2rem
	.article--hero .article_comment--hand-write
		top 35px
	.section--download-plan .section_num
		margin-left 20px
		margin-top 0
	.section--rules
		padding-top 360px
	.slider_slide-items
		width 320px

@media (max-width: 414px)
	.slider--training .slider_img
		width 80%
		max-height 100%
		margin 0

@media (max-width: 375px)
	.article--hero .article_comment--hand-write
		left 10%
	.slider--training .slider_img
		width 70%
	.article--hero .article_comment--hand-write
		line-height: 1.2rem
		font-size: .7rem

@media (max-width: 360px)
	.article--hero .article_title--hero
		font-size 5rem
	.slider--training .slider_img
		width 67%
	.section--create-cup .content--sliders
		height auto
	.article_title--white
		font-size: 1.4rem
		line-height: 2rem
	.article--hero .article_comment--hand-write
		top 14px
		line-height 1.2rem
	.section--create-cup .section_row-title .back-icon
		width 22px
	.cup_head
		top 36px
	.section--create-cup .section_row-title .back-item
		right -50px
	.cup-design_back-item
		right 0
		svg
			width 20px
	.cup-design_title
		font-size: 1.4rem
		line-height: 2rem
		margin-bottom: 20px
	.button--cta
		padding-left 20px
		padding-right 20px
	.section--download-plan .section_num
		font-size 7rem
		span
			font-size 7rem
	.section--download-plan
		padding-top 40px
	.section--business-model .section_form
		margin-top 50px
	.form--black
		padding-top 20px
		padding-left 15px
		padding-right 15px
		margin-left -15px
		margin-right -15px
		border-radius 0
		.field_input
			margin-bottom 20px
	.field_label
		text-align: left
		line-height 2.5rem
	.form_button
		min-width 90%
		margin 0 auto
	.form--black .form_wrapper-form
		text-align center
	.slider--training .slider_slide
		min-width 340px
	.section_description--comment
		padding-left 70px
		&:before
			width 40px
	.section_description
		font-size 1.2em
		line-height 1.8rem
	.slider_slide-items
		width 200px
	.slider--instaramm
		.slider_items-img
			width 200px
			height 350px
		.slider_row
			width 200px
	.section_title
		font-size: 2rem
		line-height: 2.6rem
	.field_input, .field_label
		min-width 100%

@media (max-width: 350px)
	.button--call
		text-align center
		padding-left 15px
		padding-right 15px
	.article_title--hero
		font-size 5rem
	.tabs--about-plan .tabs_download
		margin-left 10px
	.section--full-control .board-full-control
		width 200px
		bottom -440px
	.section--promotion .section_row:nth-child(odd) .section_img-wrapper, .section_img-wrapper
		width 100%
	.tabs--about-plan .tabs_tab-content
		position relative
	.section--download-plan .section_row
		flex-direction column
	.section--download-plan .section_text
		text-align left
	.slider--instaramm .slider_items-img
		width 175px
		height 300px
	.slider--instaramm .slider_row
		width 175px

@media (max-width: 320px)
	.slider--training .slider_img
		width 59%

@media (max-height: 600px)
	.section_article.article.article--hero,
	.section--hero .section_content
		//height 100% !important
	.section--hero
		min-height 100% !important
		height: 100%;
	#popup-info
		max-height 400px
		height 100%
	.main-form.popup-text .main-form__text
		height 100%
		max-height 400px
		overflow-y scroll
		padding-right 30px

@media (max-height: 480px)
	.section--create-cup .section_row-title
		margin-top 90px !important

@media (max-height: 400px)
	.section--create-cup,
	.section--create-own-cup
		height 100% !important
		min-height 100% !important
		overflow scroll !important
	.section--create-own-cup
		.section_bg
			position fixed !important 
		.cup
			height 100% !important