.section--help
	//background: url(../img/bg-black.png)
	padding-top 105px
	pb: 150px
	
	.help-background__one
		position absolute
		top -23%
		left 50%
		width 853px
		height 874px
		background: url(../img/background-help.png)
		transform translate(-50%, 0)
		opacity: .1
		
	.help-background__left
		position absolute
		bottom 0
		left -50px
		width 231px
		height 207px
		background: url(../img/d-branch.png)
		opacity: .3
	
	.help-background__right
		position absolute
		bottom 0
		right 0px
		width 250px
		height 588px
		background: url(../img/coffe-mashine-background.png)
		opacity: .07

	.section
		&_title
		&_description
			txta: center
		
		&_title
			mb: 20px
		
		&_description
			mb: 173px
		
		&_row
			margin: 0 auto
			display: flex
			justify-content: space-around