.section--instaramm
	position relative
	z-index 10
	.bg-coffee-instagramm
		position absolute
		top -32px
		right 0
		display block
		width 227px
		height 530px
		background: url(../img/d-bag.png)
		opacity: .6

	.section
		&_content
			display: flex
		
		&_row
			width: 62.5%