.section--faq
	position relative
	background: url(../img/bg-black.png)
	pt: 177px
	pb: 50px
	
	.faq-background__one
		position absolute
		top 0
		right 0
		display block
		width 1188px
		height 1438px
		background: url(../img/answers-bacground.png)
		opacity: .2
		
	.faq-background__two
		position absolute
		top 540px
		left 40px
		display block
		width 370px
		height 640px
		background: url(../img/faq-text-bg.png)
		opacity: .05

	.section
		&_title
			txta center
			mb: 118px
		
		&_faq
			position relative
			max-width: 65%
			margin: 0 auto
			z-index 10