.section--business-model
	pt: 120px
	pb: 87px
	
	.background-right
		position absolute
		right 0
		top -120px
		width 972px
		height 634px
		background-image: url(../img/d-coffee-farm.png)

	.section
		&_description
			mt: 95px
		&_form
			mt: 74px