.section--about-plan
	//background: url(../img/bg-white.png)
	mt: -402px
	pt: 178px
	pb: 464px
	
	.about-plan-bg
		position absolute
		top -170px
		right 0
		display block
		width 951px
		height 1204px
		background: url(../img/about-plan-bg.png)
	
	.about-left-bg
		position absolute
		left 0
		bottom 546px
		display block
		width 258px
		height 480px
		background: url(../img/d-coffee-2.png)

	.section
		&_title-row
			display: flex
			align-items: center
		&_comment
			ml: 115px
		&_title
			mt: 10px
		&_tabs
			mt: 112px