.section--experience
	//background: url(../img/bg-black.png)
	mt: -202px
	pt: 230px
	
	.bg-experience-left
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 1073px
		background: url(../img/experience-bg-left.png)
		background-repeat no-repeat
		opacity: .3
	
	.bg-experience-right
		position absolute
		top 210px
		right 0
		display block
		width 340px
		height 648px
		background: url(../img/experience-bg-right.png)
		background-repeat no-repeat
		opacity: .3

	.section
		&_description
			mb: 23px
		&_title
			mb: 150px
		&_row
			display: flex
			flex-wrap: wrap
			pl: 10px
			justify-content: space-between
			> * 
				flex-basis 25%
				mb: 88px