.section--design
	background: url(../img/bg-black.png)
	pt: 345px
	pb: 160px
	
	.bg-design-coffee
		position absolute
		top 160px
		right 0
		display block
		width 837px
		height 728px
		background: url(../img/bg-design-coffee.png)
		opacity: .16

	.section
		&_content
			clear: fix
		
		&_title
			mb: 36px