.section--download-plan
	//background: url(../img/bg-black.png)
	pt: 185px
	
	.bg-download-plan
		position absolute
		top 60px
		left 50px
		display block
		width 468px
		height 322px
		background: url(../img/bg-rules-coffee-two.png)
		opacity: .8

	.section
		&_row
			display: flex
			.section_article
				position relative
		&_stamp
			position absolute
			top 0
			left -255px
			width 175px
			height 175px
			background-image: url(../img/d-stamp.png)
			background-repeat no-repeat
			background-size contain
			opacity: .3
		&_img
			position relative
			ml: -130px
			mt: 160px
			z-index 10
		&_description
			mb: 18px
		&_title
			mb: 75px
		&_num
			c cCoffee
			fz 190px
			ls: 60
			mt: 10px
			ffa fBebas
			fw fBold
			lh: 120px
			ml: 66px

			span
				fw fRegular
				fz 140px
				vertical-align: top
		
		&_text
			fz: 17px
			ls: 0
			lh: 36px
			c cGrayL
			txta right

		&_button
			mt: 98px
			float right
			mr: 44px