.slider--instaramm
	mt: 104px

	.slider
		&_buttons
			height: 64px

		&_slider
			mt: 68px
			ml: -220px
		
		&_items-img
			position relative
			width 240px
			height 383px
			border-radius 10px
			margin-bottom 22px
			overflow hidden
		
		&_img
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width auto
			height 100%
			mb: 20px
		
		&_date
		&_likes
			fz: 13px
			ls: 40
			c: cGrayL

		&_row
			display: flex
			justify-content: space-between
			width: 240px
			mb: 18px
		
		&_text
			fz: 17px
			lh: 25px
			ls: 40
			fw: fBold
			c cWhite