.tabs--design
	mt: 135px
	float: right

	.tabs
		&_title
			fz: 40px
			lh: 41px
			ls: 20
			c cWhite
			fw fBold
			mb: 50px
		&_tabs
			display: flex
			width: 100%
		&_tab
			ffa fBebas 
			txtt uppercase
			lh 72px
			box-sizing: border-box
			fw fBold
			fz 25px
			ls 60
			c cGrayD
			border-radius: 4px
			border: 2px solid cGrayD
			txta center
			padding: 0 28px
			ml: 30px
			cursor: pointer
			transition: 0.4s ease all
			&:first-child
				ml: 0
			&.js-active
			&:hover
				c cWhite
				border: 2px solid cCoffee
